*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Bodoni Moda', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;

}

/* colors
"black" : #46466A
"yellow" : #E3B370
"green" : #969A55
"white" : #F8FAFA
"grey" : #B1C0C6
*/

body{
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#F8FAFA;
    color: #46466A;
}

.navigation{
    width:100%;
    height: 3rem;
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color: #B1C0C6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li{
    float: left;
}

li a{
    text-decoration: none;
    color: #46466A;
    text-align: center;
    padding: 14px 16px;

}

li a:hover {
    background-color: #E3B370;
  }

.header{
    width: 100%;
    display: flex;
    border-bottom: .1em #B1C0C6 solid;

}
.name_and_title{
    width: 70%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
}

.name_and_title h1{
    font-size: 4rem;
}

.photo{
    width: 30%;
    height: auto;
    margin: 3rem;
    float: right;
    border-radius: 2%;
}

.about-me{
    background-color:#C3C596 ;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    line-height: 2;
}